@import "./assets/styles/app.css";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd !important;
  border-bottom: 1px solid gray !important;
  text-align: left;
  padding: 8px;
}
/* 
.dragging{
  border: 2px solid red;
} */

/* styles.css */
.column-hover {
  border-bottom: 3px solid #3498db; /* Add underline with a specific color */
  transition: border-bottom 0.2s ease-in-out;
}
