@import "./assets/styles/app.css";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd !important;
  border-bottom: 1px solid gray !important;
  text-align: left;
  padding: 8px;
}
